body {
  background-image: url('../img/YouCodeGirls_Slot-Machine_deutsch.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#slot-machine {
  margin: 10% auto 0 auto;
  /*background-color: red;*/
  /*background: transparent;/*/
}

#play-button {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 100px;
  border-radius: 4px;
  border: none;
  color: black;
  background-color: #3bb4b4;
}
